{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section class="site-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">x
                {% if cat_or_tag == 'Category' %}
                    <h2 class="mb-4">Category: {{ category.name }}</h2>
                {% elif cat_or_tag == 'Tags'%}
                    <h2 class="mb-4">Tags: </h2>
                {% elif cat_or_tag == 'Posts'%}
                    <h2 class="mb-4">Posts: </h2>
                {% endif %}
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        {% for page in page %}
                            <div class="post-entry-horzontal">
                            <a href="/blog/{{ page.id }}">
                                <div class="image element-animate" data-animate-effect="fadeIn"
                                     style="background-image: url({{ page.image.url }});"></div>
                                <span class="text">
<div class="post-meta">
<span class="category">{{ page.category }}</span>
<span class="mr-2">{{ page.created_at }}</span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> {{ page.comment_count }}</span>
</div>
<h2>{{ page.title }}</h2>
</span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}, {{ category }}"><</a></li>
                                {% endif %}
                                {% for pagee in page.paginator.page_range %}
                                    {% if page.number == pagee %}
                                        <li class="page-item active"><a class="page-link">{{ pagee }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class='page-link' href="?page={{ pagee }}, {{ category }}">{{ pagee }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}, {{ category }}">></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
<!--                <div class="sidebar-box search-form-wrap">-->
<!--                    <form action="#" class="search-form">-->
<!--                        <div class="form-group">-->
<!--                            <span class="icon fa fa-search"></span>-->
<!--                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Meagan Smith</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias
                                minus.</p>
                            <p><a href="/about" class="btn btn-primary btn-sm">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            {% for post in posts %}
                                <li>
                                <a href="/blog/{{ post.id }}">
                                    <img src="{{ post.image.url }}" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>{{ post.title }}</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">{{ post.created_at }}</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> {{ post.comment_count }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        {% for tag in tags %}
                            <li><a href="/category/?tags={{ tag.id }}">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}